<template>
  <b-container class="p-0" fluid>
    <Navbar />
    <b-row class="ml-4">
      <b-col v-for="product in products" :key="product.id" :cols="4">
        <Card :product="product"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Navbar from '../components/Navbar.vue'
import Card from '../components/Card.vue'

export default {
  components: {Navbar, Card},
  data() {
    return {
      products: []
    };
  },
  created() {
    this.fetchCards()
  },
  methods: {
    fetchCards() {
      fetch('https://dummyjson.com/products')
      .then(res => res.json())
      .then(json => {
        this.products = json.products
        console.log(this.products)
      })
    }
  }
};
</script>

<style></style>
