<script>
</script>

<template>
  <div id="popup">
    <button id="close-button">CLOSE</button>
</div>
<div id="hero-container">
    <div id="nav">
        <img src="../assets/logo.webp" alt="Logo" class="logo">
        <ul>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a @click="$router.push('/outdoor')">Products</a>
            </li>
            <li>
                <a href="#">Case studies</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <h1>Protect our home planet</h1>
        <p>Our warm, breathable active layers will keep you charging hard in the cold. How you fine-tune your system with them is up to you.</p>
        <button id="print-button" class="cta">OUR LATEST PRODUCTS</button>
    </div>
</div>
<div id="cards-container">
    <div class="card" id="outdoor" @click="$router.push('/outdoor')">
        <img class="card-image" src="../assets/card-image.jpeg" alt="img">
        <h2 class="card-header">Outdoor</h2>
        <p class="card-content">Check out our latest outdoor gear and products.</p>
    </div>

    <div class="card">
        <img class="card-image" src="../assets/card-image2.jpeg" alt="img">
        <h2 class="card-header">Indoor</h2>
        <p class="card-content">Check out our latest indoor gear and products.</p>
    </div>

    <div class="card">
        <img class="card-image" src="../assets/card-image.jpeg" alt="img">
        <h2 class="card-header">Advanture</h2>
        <p class="card-content">Check out our latest advanture gear and products.</p>
    </div>
</div>
</template>

<style scoped>
/* HERO SECTION */

#hero-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/hero.png");
  background-size: cover;
}
#nav {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-right: 50px;
}
li {
  font-size: 15px;
}
a {
  text-decoration: none;
  color: whitesmoke
}
.logo {
  width: 150px;
  margin-left: 50px;
}
h1 {
  font-size: 75px;
}
.content {
  color: white;
  margin-left: 50px;
  margin-top: 250px;
}
p {
  font-weight: 100;
  width: 600px;
  line-height: 30px;
}
.cta {
  position: absolute;
  bottom: 30%;
  left: 50px;
  padding: 15px 40px;
  border-radius: 30px;
  background-color: white;
  font-weight: 800;
  color: black;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}
.cta:hover {
  background-color: #c5e8ff;
}

/* CARDS SECTION */

#cards-container {
  width: 100vw;
  height: 700px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 250px;
  height: 400px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 5px 10px 39px -14px rgba(0,0,0,0.75);
  color: white;
  transition: all 0.3s;
}

.card:hover {
  scale: 1.1;
  cursor: pointer;
  box-shadow: 5px 10px 39px -8px rgba(0,0,0,0.95);
}

.card-image {
  width: 100%;
  height: 50%;
}

.card-header {
  padding: 15px;
}

.card-content {
  width: 230px;
  padding-left: 15px;
  padding-top: 5px;
}

#popup {
  background-color: white;
  width: 500px;
  height: 500px;
  position: absolute;
  right: 400px;
  top: 200px;
  display: none;

}
</style>