<template>
    <div class="wrapper">
        <h1>TODO list</h1>
        <div class="input-wrapper">
            <input class="task-input" placeholder="Task name" v-model="taskText"/>
            <button @click="addTask()" :disabled="taskText.trim() == ''">Add task</button>
            <button @click="clearTasks()">Clear all tasks</button>
        </div>
        <h3 style="margin-top: 20px; color: white;">Your todos</h3>
        <ul>
            <li v-for="task in tasks.filter(item => item.isComplete == false)" :key="item.id">
                <input type="checkbox" :checked="task.isComplete" @change="toggleTask(task.id)" />
                <p :style="`${task.isComplete ? 'text-decoration: line-through;': ''}`">{{task.text}}</p>
            </li>
        </ul>
        <h3 style="margin-top: 20px; color: white;">Completed todos</h3>
        <ul>
            <li v-for="task in tasks.filter(item => item.isComplete == true)" :key="item.id">
                <input type="checkbox" :checked="task.isComplete" @change="toggleTask(task.id)" />
                <p :style="`${task.isComplete ? 'text-decoration: line-through;': ''}`">{{task.text}}</p>
            </li>
        </ul>
    </div>
</template>

<script>
import uuid4 from 'uuid4';

export default {
    data() {
        return {
            taskText: '',
            tasks: []
        }
    },
    created() {
        if(localStorage.getItem('tasks')) {
            this.tasks = JSON.parse(localStorage.getItem('tasks'));
        }else {
            localStorage.setItem('tasks', [])
        }
    },
    methods: {
        addTask() {
            if(this.taskText.trim() != '') {
                const task = {
                    id: uuid4(),
                    text: this.taskText,
                    isComplete: false
                }
                this.tasks.push(task)
                this.taskText = ''
                localStorage.setItem('tasks', JSON.stringify(this.tasks))
            }
            
        },
        toggleTask(taskID) {
            const task = this.tasks.find(task => task.id == taskID)
            task.isComplete = !task.isComplete
            localStorage.setItem('tasks', JSON.stringify(this.tasks))
        },
        clearTasks() {
            this.tasks = []
            localStorage.clear()
        }
    }
}
</script>

<style scoped>
.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #354fe2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: white;
    font-size: 70px;
}
.input-wrapper {
    width: 50%;
}
.task-input {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
}
button {
    margin-top: 30px;
    width: 25%;
    height: 55px;
    border: 1px solid #6375d9;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(208, 208, 208);
    cursor: pointer;
}
ul {
    margin-top: 20px;
}
li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 110px;
    color: white;
    
}
</style>