<template>
  <b-card
    :title="product.title"
    :img-src="product.thumbnail"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem"
    class="mt-4"
  >
    <b-card-text>
      {{ product.description }}
    </b-card-text>

    <b-button href="#" variant="primary">Go somewhere</b-button>
  </b-card>
</template>
<script>
export default {
    props: {
        product: {
            required: true,
            type: Object,
        }
    }
}
</script>
<style></style>
